<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <a class="footer-link" href="./">
                <img width="30" height="30" src="img-svg/second-logo.svg" alt="logo" />
                <span class="footer-logo">Productly</span>
            </a>
            <div>
                <h4 class="footer-title">Quick Links</h4>
                <ul>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <h4 class="footer-title">Legal Stuff</h4>
                <ul>
                    <li>Disclaimer</li>
                    <li>Financing</li>
                    <li>Privacy Policy</li>
                    <li>Teams of Service</li>
                </ul>
            </div>
            <div class="footer-signup-container">
                <h4 class="footer-title">Knowing you're always on the best energy deal.</h4>
                <input class="footer-input" type="text" placeholder="Enter your phone Number" />
                <button class="footer-btn">Sign up Now</button>
            </div>
        </div>
    </div>
</footer>