<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-link" href="./">
        <img width="30" height="30" src="img-svg/logo.svg" alt="logo" />
        <span class="nav-logo">Productly</span>
      </a>
      <div class="menu">
        <button type="button" class="menu-button" data-modal-open-btn>
          <svg width="40" height="40" aria-label="Переключатель мобильного меню">
            <use href="./img-svg/symbol-defs.svg#menu_button"></use>
          </svg>
        </button>

        <div class="menu-signup-container">
          <button class="signin-btn">Sign In</button>
          <button class="signup-btn">Sign Up</button>
        </div>

        <div class="menu-container is-hidden-btn" data-modal-menu>
          <div class="modal-menu">
            <button type="button" class="menu-button menu-button-position" data-modal-close-btn>
              <svg width="40" height="40">
                <use href="./img-svg/symbol-defs.svg#close_cross"></use>
              </svg>
            </button>
            <ul class="menu-list">
              <li>
                <a href="#">Product</a>
              </li>
              <li>
                <a href="#">Customers</a>
              </li>
              <li>
                <a href="#">Pricng</a>
              </li>
              <li>
                <a href="#">Resources</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
