<section class="hero">
    <div class="hero-bg-container">
        <div class="container">
            <div class="hero-center-container">
                <h3 class="common-title">Need a super hero?</h3>
                <p class="hero-desciption">Do you require some help for your project: Conception workshop,
                prototyping, marketing strategy, landing page, Ux/UI?</p>
                <button class="hero-btn">Contact our expert</button>
            </div>
            <ul class="hero-avatar-list">
                <li>
                    <div class="hero-avatar-container">
                        <img src="images/avatar-1.png" alt="avatar">
                    </div>
                    <span class="hero-avatar-bg">I can take care of your pitch</span>
                </li>
                <li>
                    <div class="hero-avatar-container">
                        <img src="images/avatar-2.png" alt="avatar">
                    </div>
                    <span class="hero-avatar-bg">I can help marketing strategy</span>
                </li>
                <li>
                    <div class="hero-avatar-container">
                        <img src="images/avatar-3.png" alt="avatar">
                    </div>
                    <span class="hero-avatar-bg">I can prototype your app</span>
                </li>
                <li>
                   <div class="hero-avatar-container">
                        <img src="images/avatar-4.png" alt="avatar">
                    </div>
                    <span class="hero-avatar-bg">I will define the profile of your users</span>
                </li>
                <li>
                    <div class="hero-avatar-container">
                        <img src="images/avatar-5.png" alt="avatar">
                    </div>
                    <span class="hero-avatar-bg">I can disign you website</span>
                </li>
            </ul>
        </div>
    </div>
</section>