<section class="manadges">
    <div class="container common-container">
        <div class="common-img">
            <img src="images/managers.png" alt="design">
        </div>
        <div class="common-left-container manadges-right-container">
            <div class="common-top-container">
                <p class="common-description">Easier decision making for</p>
                <h3 class="common-title">Product Managers</h3>
                <p>The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall
                personality of the person.</p>
            </div>
            <ul class="commom-list manadgers-list">
                <li>
                    <svg width="35" height="35" aria-label="Стрелка">
                        <use href="./img-svg/symbol-defs.svg#icon-checked"></use>
                    </svg>
                    <p>Never worry about overpaying for your energy again.</p>
                </li>
                <li>
                    <svg width="35" height="35" aria-label="Стрелка">
                        <use href="./img-svg/symbol-defs.svg#icon-checked"></use>
                    </svg>
                    <p>We will only switch you to energy companies that we trust and will treat you right</p>
                </li>
                <li>
                    <svg width="35" height="35" aria-label="Стрелка">
                        <use href="./img-svg/symbol-defs.svg#icon-checked"></use>
                    </svg>
                    <p>We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>
    </div>
</section>