<section class="strategies">
    <div class="container">
        <div class="strategies-container">
            <h3 class="strategies-title">Marketing Strategies</h3>
            <p class="strategies-description">Join 40,000+ other marketers and get proven strategies on email marketing</p>
            <ul class="strategies-list swiper-wrapper">
                <li class="swiper-slide">
                    <div class="strategies-img-container">
                        <img width="348" height="185" src="images/strategies-1.jpg" alt="Positive thinking" />
                    </div>

                    <p>By Abdullah | 03 March 2019</p>
                    <h4>Increasing Prosperity With Positive Thinking</h4>
                </li>

                <li class="swiper-slide">
                    <div class="strategies-img-container">
                        <img width="348" height="185" src="images/strategies-2.jpg" alt="Motovation" />
                    </div>

                    <p>By Abdullah | 03 March 2019</p>
                    <h4>Motivation Is The First Step To Success</h4>
                </li>

                <li class="swiper-slide">
                    <div class="strategies-img-container">
                        <img width="348" height="185" src="images/strategies-3.jpg" alt="Success" />
                    </div>

                    <p>By Abdullah | 03 March 2019</p>
                    <h4>Success Steps For Your Personal Or Business Life</h4>
                </li>
            </ul>
        </div>
    </div>
</section>