<section class="massage">
  <div class="container">
    <div class="massage-container">
      <h2 class="massage-items-title">Заболевания</h2>
      <ul class="massage-items-container js-diseases"></ul>
    </div>
    <div class="massage-second-container">
      <h2 class="massage-items-title">Противопоказания</h2>
      <ul class="massage-list-container js-contraindications"></ul>

      <p>По остальным возможным ограничениям просьба уточнять у самого специалиста</p>
    </div>
  </div>
</section>
