<section class="profile">
  <div class="container profile-main-container">
    <div class="profile-container">
      <div class="profile-title-container">
        <h1 class="profile-title">The Design Thinking superpowers</h1>
        <p class="ptofile-descr">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to
          imagine your next user
          experience.</p>
      </div>

      <div class="profile-btn-container">
        <button class="start-btn">Get started</button>
        <button class="video-btn">
          <svg width="20" height="17" aria-label="Стрелка">
            <use href="./img-svg/symbol-defs.svg#icon-arrow"></use>
          </svg>
          Watch the Video
        </button>
      </div>
    </div>

    <div class="profile-img">
      <img src="images/jump.png" alt="jump">
    </div>
  </div>

</section>
