<section class="profile">
  <div class="container">
    <h1 class="profile-title">Точечный массаж в Алматы</h1>

    <div class="profile-img-container">
      <img class="profile-img" src="images//1564162205562.jpg" alt="" />
      <div class="profile-gradient">
        <p class="profile-gradient-title">Лечебный массаж</p>
      </div>
    </div>

    <div class="profile-description-container">
      <h2 class="profile-description-title">Куренкеев Жанибек Сыдыкбекович</h2>
      <p class="profile-description">
        Куренкеев Жанибек Сыдыкбекович, является профессианальным массажистом по тригерным точкам.
        Есть медицинское оброзование и 20 лет опыта работы.Владеет уникальными мануальными
        техниками. Работает массажистом в клинике Dostarmed.
      </p>
    </div>

    <div class="profile-massage-container">
      <h2 class="profile-massage-title">Что следует знать</h2>
      <p class="profile-massage">
        Массаж выполняемый профессианалом, может иметь глубоко расслабляющее действие, снижать
        частоту пульса, артериальное давление и частоту дыхания вместе с уменьшением напряжения
        мышц. У вас могут вазникнуть вопросы, чего следует ждать от массажа пусковых точек и сколько
        сеансов потребуется, чтобы избавиться от боли. Иногда за один сеанс можно получить
        блистательные результаты, ведь оргонизм в состоянии сам себя лечить, если придать ему
        надлежащий стимул. Чаще всего это происходит при недавно возникшей боли, но давно
        образовавшиеся пусковые точки требуют значительного внимания независимо от того, сами ли вы
        выполняете массаж или обращаетесь за помощью к специалисту. Возникает искушение перестать
        выполнять массаж, как только пусковые точки прекращают активно продуцировать боль. Но
        следует помнить, что массаж делает чудеса с пусковыми точками, но только если он выполняется
        правильно и курс пройден полностью.
      </p>
    </div>
  </div>
</section>
