<section class="tools">
    <h2 class="container tools-title">We design tools to unveil your superpowers</h2>
    <div class="tools-bg-container">
      <div class="container">
        <ul class="tools-list">
          <li>
            <svg aria-label="Стрелка">
              <use href="./img-svg/symbol-defs.svg#icon-click"></use>
            </svg>
            <div class="tools-list-container">
              <h3>First click tests</h3>
              <p>While most people enjoy casino gambling,</p>
            </div>
          </li>
          <li>
            <svg aria-label="Стрелка">
              <use href="./img-svg/symbol-defs.svg#icon-design"></use>
            </svg>
            <div class="tools-list-container">
              <h3>Design surveys</h3>
              <p>Sports betting, lottery and bingo playing for the fun</p>
            </div>
          </li>
          <li>
            <svg aria-label="Стрелка">
              <use href="./img-svg/symbol-defs.svg#icon-heart"></use>
            </svg>
            <div class="tools-list-container">
              <h3>Preference tests</h3>
              <p>The Myspace page defines the individual.</p>
            </div>
          </li>
          <li>
            <svg aria-label="Стрелка">
              <use href="./img-svg/symbol-defs.svg#icon-hourglass"></use>
            </svg>
            <div class="tools-list-container">
              <h3>Five second tests</h3>
              <p>Personal choices and the overall personality of the person.</p>
            </div>
          </li>
        </ul>
        <div class="tools-btn-container">
          <button class="tools-btn">Sign up now</button>
        </div>
      </div>
    </div>
</section>
